.btn {
    width : 400px;
    height : 75px;
    color : white;
    text-align: left;
    
}

body {
    color : white
}

p{
    color : white;
}

li {
    text-align: left;
    color : white
    
}
/* fix alignment */
#container, #Controllercon, #Duelcon, #Sentinelcon,
#duel, #init, #sen, #control, #searching, #submitting {
    text-align: left;
}

#form-name{
    color: white;
}



#sub-name, #sub-ability, #sub-class #submit{
    color: black;
}