.btn {
    width : 200px;
    height : 75px;
    color: white;
    margin-top: 25px;   
}


body {
    color : white
}

p{
    color : white;
}

li {
    text-align: left;
    color : white
    
}

#Controllercon, #Duelcon, #Sentinelcon,
#duel, #init, #sen, #control{
    text-align: left;
    margin: 0%;
    padding: 0%;
    color : white
}

#form-name, #container{
    color: white;
}

#sub-name, #sub-ability, #sub-class, #submit{
    color: black;
}

#intro{
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;  
}



