.btn {
    width : 400px;
    height : 75px;
    text-align: left;
    
}

body {
    color : white
}

p{
    color : white;
}

li {
    text-align: left;
    color : white
    
}
/* fix alignment */
#Controllercon, #Duelcon, #Sentinelcon,
#duel, #init, #sen, #control, #searching{
    text-align: left;
    margin: 0%;
    padding: 0%;
}

#form-name, #container{
    color: white;
}

#sub-name, #sub-ability, #sub-class, #submit{
    color: black;
}

#intro{
    text-align: justify;
    font: 100px;
    font-family: sans-serif;  
}
